.App {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Clients{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Client{
  padding: 25px;
  border: 1px solid;
}

.SearchForm{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.Limit{
  width: 30px;
}

.Limit, .Genre{
  margin: 0 10px 0 10px;
}

